{
  "name": "Havenport",
  "id": 983,
  "climate": "temperate",
  "filename": "havenport",
  "resetTime": 20,
  "resetMode": "always",
  "lastRoom": 98449,
  "flags" : [],
  "distros": [
    {
      "name": "Exterior Beach",
      "vnumStart": 98301,
      "vnumEnd": 98313,
      "excludeVnums": [98303]
    },
    {
      "name": "Main Cavern",
      "vnumStart": 98319,
      "vnumEnd": 98334
    },
    {
      "name": "Smuggler Ship",
      "vnumStart": 98344,
      "vnumEnd": 98366,
      "excludedVnums": [98363, 98356, 98357, 98360]
    },
    {
      "name": "Common Areas",
      "vnums": [98378, 98379, 98380, 98381, 98383, 98384, 98397, 98393, 98394, 98395]
    },
    {
      "name": "Trader's Square",
      "vnumStart": 98378,
      "vnumEnd": 98381
    },
    {
      "name": "Main Storage",
      "vnumStart": 98372,
      "vnumEnd": 98375
    },
    {
      "name": "Cavern Crew Quarters",
      "vnumStart": 98393,
      "vnumEnd": 98395
    }
  ],
  "templateLoadList": [
    {
      "name": "default",
      "mode": "overlay"
    }
  ]
}
